body {
  margin: 0;
  padding: 0;

  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;

  background-color: #515f67;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1170px;

  outline: 1px solid red;
  max-width: 1170px;
  max-width: 1170px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

.typically-header {
  position: relative;

  margin: 0;
  padding-bottom: 12px;

  font-size: 30px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

.typically-header::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: 45px;
  height: 2px;

  background-color: #ffffff;
}

.main-header {
  position: absolute;

  width: 100%;
  padding: 60px 0;

  background-color: rgba(53, 63, 70, 0.85);
}

.main-navigation {
  display: flex;
  justify-content: space-between;

  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.site-navigation li {
  margin-right: 10px;
}

.site-navigation a {
  padding: 5px 17px;

  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);

  border: 2px solid transparent;
}

.site-navigation a:last-child {
  margin-right: 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  color: rgba(75, 202, 255, 1);

  border: 2px solid #4bcaff;
}

.title-section {
  padding: 360px 0 250px;

  text-align: center;

  background-color: #515f67;
  background-image: url("../img/title-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.title-text {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 42px;
  line-height: 50px;
  font-weight: 300;
  text-transform: uppercase;
}

.title-section span {
  padding: 0px 20px 7px;

  background-color: rgba(81, 95, 103, 0.85);
}

.title-section span:first-child {
  margin-bottom: 12px;
}

.services {
  padding: 80px 0 75px;

  text-align: left;

  background-color: #4bcaff;
}

.services h2 {
  margin-bottom: 35px;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-item {
  width: 270px;
}

.service-item .img-container {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.service-list h3 {
  margin: 0;

  margin-bottom: 15px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.service-list p {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.portfolio {
  padding: 80px 0 50px;

  background-color: #ffffff;
}

.portfolio .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.portfolio h2 {
  margin: 0;

  color: #515f67;
}

.portfolio h2::after {
  background-color: #515f67;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.sorting-list li {
  margin-right: 10px;
}

.sorting-list li:last-child {
  margin-right: 0;
}

.sorting-list a {
  padding: 5px 17px;

  color: rgba(81, 95, 103, 0.9);
  font-weight: 700;

  border: 2px solid transparent;
}

.sorting-list a:hover,
.sorting-list a:focus,
.sorting-list a:active {
  color: rgba(75, 202, 255, 1);

  border: 2px solid #4bcaff;
}

.portfolio-list-wrapper {
  width: 100%;
  padding-right: 30px;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(100%-30px);
  margin-right: -30px;

  outline: 1px solid blue;
}

.portfolio-item {
  width: 270px;
  height: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.portfolio-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.portfolio-item {
  background-color: #7d7d7d;
}

.portfolio-item:nth-child(4n) {
  margin-right: 0;
}

.portfolio-item a {
  display: block;
  width: 270px;
  height: 270px;
}

.portfolio-item img {
  width: 270px;
  height: 270px;
}

.default-section {
  padding: 80px 0;

  background-color: #515f67;
}

.default-section > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-info {
  width: 470px;
}

.column-video {
  width: 560px;
}

.default-section h2 {
  margin-bottom: 35px;
}

.default-section p {
  margin: 0;

  margin-bottom: 30px;

  font-weight: 400;
}

.default-section p:last-child {
  margin-bottom: 15px;
}

.default-section a {
  color: #353f46;

  border: 2px solid #353f46;
}

.twitter-quote {
  padding: 80px 0 70px;

  background-color: #4bcaff;
}

.twitter-quote h2 {
  margin-bottom: ;
}

.twitter-quote p {
  margin: 0;

  font-size: 28px;
  line-height: 50px;
  font-weight: 300;
}

.twitter-quote a {
  color: #ffffff;
  font-weight: 600;
  text-transform: none;
}

.about-author {
  padding: 100px 0 170px;

  background-color: #353f46;
  background-image: url('../img/photograph-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about-author h2 {
  margin-bottom: ;
}

.about-author p {
  margin: 0;

  font-weight: 400;
}

.account-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account-item a {
  color: #ffffff;
}

.testimonials {
  padding: 80px 0 60px;

  color: #515f67;

  background-color: #ffffff;
}

.testimonials h2 {
  margin-bottom: ;

  color: #515f67;
}

.testimonials h2::after {
  background-color: #515f67;
}

.testimonials cite {
  color: #4bcaff;
  font-weight: 700;
  line-height: 50px;
  font-style: normal;
}

.contact {
  padding: 80px 0 80px;

  background-image: url('../img/contact-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.contact h2 {
  margin-bottom: ;
}

.contact p {
  margin: 0;

  font-weight: 600;
}

.contact-form label {
  text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.contact-form button[type="submit"] {
  text-transform: uppercase;
}

.main-footer {
  color: #515f67;

  background-color: #353f47;
}

.footer-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation a {
  color: #515f67;
}
